@import "tailwindcss";

@theme {
  --color-brand-primary: #0a2463;
  --color-brand-secondary: #3e92cc;
  --color-brand-accent: #d8315b;
  --color-brand-light: #fffaff;
  --color-brand-dark: #f5f5f5;
}
